[Desktop Entry]
Encoding=UTF-8
Name=Volt
Comment=Volt P2P Cryptocurrency
Comment[fr]=Volt, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Volt, eşten eşe kriptografik sanal para birimi
Exec=volt-qt %u
Terminal=false
Type=Application
Icon=volt128
MimeType=x-scheme-handler/volt;
Categories=Office;Finance;
