[Unit]
Description=Phore's distributed currency daemon
After=network.target

[Service]
User=phore
Group=phore

Type=forking
PIDFile=/var/lib/voltd/voltd.pid

ExecStart=/usr/bin/voltd -daemon -pid=/var/lib/voltd/voltd.pid \
          -conf=/etc/phore/phore.conf -datadir=/var/lib/voltd

ExecStop=-/usr/bin/volt-cli -conf=/etc/phore/phore.conf \
         -datadir=/var/lib/voltd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
